* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: 'Fraunces', 'sans-srif';
}

main {
    display: flex;
    max-width: 600px;
}

.card-image {
    width: 100%;
    border-radius: 3% 0 0 3%;
    height: 100%;
}

.card-image-content {
    width: 100%;
    background: hsl(0, 0%, 100%);
    padding: 1.7rem;
    border-radius: 0% 3% 3% 0;

}

.card-small-heading {
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
    font-size: 0.6rem;
    margin: 1rem 0;
    font-weight: 400;

}

.card-heading {
    line-height: 0.9;
    font-size: 35px;
    margin-bottom: 1.3rem;
}

.card-content-para {
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
    margin: 1.35rem 0;
}

.price-heading {
    color: hsl(228, 12%, 48%);
    font-size: 35px;
}

.small-price-content {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    align-self: center;
}

.price-content {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 1.7rem;

}

li:first-child {
    color: hsl(158, 36%, 37%);
    margin-right: 0.75rem;
}

li:last-child {
    align-self: center;
    color: hsl(228, 12%, 48%);
}

.btn {
    text-decoration: none;
    display: block;
    background-color: hsl(158, 36%, 37%);
    padding: 1rem 1.2rem;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-bottom: 0.3px;
}

.btn:hover {
    background-color: hsl(158, 43%, 19%);
}

.mr-1 {
    margin-right: 0.66rem;
}

@media(max-width:640px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 400px;
    }

    .card-image {
        width: 100%;
    }

    body {
        display: flex;
        background-color: hsl(30, 38%, 92%);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 0.1px);
        margin: 1.5rem 0;

    }

    .price-content {
        margin-right: 3rem;
    }

    .card-image {
        width: 100%;
        border-radius: 3% 0% 3% 0%;
        height: 100%;
    }
    .card-image-content {
        width: 100%;
        background: hsl(0, 0%, 100%);
        padding: 1.7rem;
        border-radius: 0 0 0 0;
    
    }

}